body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}


/* Headings */

.titleheading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.titleheading2 {
  font-size: 3.5rem;
  line-height: 1.5;
}

.titleheading3 {
  font-size: 1.5rem;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  position: relative;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7% 15%;
}

/* Navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

.iphone6 {
  max-width: 100%;
  transform: rotate(25deg);
  position: absolute;
  margin: 0 0 0 3%;
}

.downloadbutton {
  margin: 5% 3% 5% 0;
}

/* Section Features */

#features {
  padding: 7% 15%;
  font-family: 'Montserrat';
  background-color: #ffff;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  padding: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial */

#testimonials {
  background-color: #ef8172;
  color: #ffff;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%
}

/* Cards */

#pricing {
  padding: 100px;
}

.pricing-cards {
  padding: 3% 2%;
}

.btn-block {
  width: 100%
}

/* Call to action Footer */

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 8% 0 2% 0;
}

/* Copyright footer */

#copyright {
  background-color: white;
  padding: 5%
}

.fa-footer {
  margin: 1% 1% 3% 1%
}

/* QUERY CSS */

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .iphone6 {
    position: static;
    transform: rotate(0);
    width: 75%;
  }
}
